<% layout('navboil') %>

<
<div class="container">
    <div class="row">
        <p> home page</p>
   <hr>
        <h1 class="text-center"> welcome pages here </h1>
            <div class="col-md-8">       
                <strong>email</strong> :  <%= useradmin.email %> <br>  
                

           </div>

     </div>
 </div>
