<% layout('layout') %>

<div class="container">

<hr>




<div class="row">


        <% for (var i = 0; i < products.length; i++) { %>
            <div class="col-md-4 mr-3 mb-5">
              <a href="/product/<%= products[i]._id %>">
                <div class="card card-product">
                    <div class="img-wrap"><img src="/uploads/<%= products[i].image %>" alt="product image" height="300px"></div>
                  
                  <div class="info-wrap">
                    <h3 class="title"><%= products[i].prodname %></h3>
        
                    <p class="desc">$<%= products[i].price %></p>
                  </div>
                </div>
              </a>
            </div>
            <% } %>



</div> <!-- row.// -->



</div>
<!--container.//-->

<br>
